#aws_region = "us-east-1" # provide the aws region to deploy resources
#aws_s3_bucket_versioning = "Enabled" # set to "Enabled" to enable versioning for the s3 bucket or "Suspended" to disable versioning
#tags = {# Add your tags here as key-value pairs }
#bucket_prefix = "your-bucket-prefix" # provide a prefix to be used for the s3 bucket name
#bucket_region = "bucket-region" # provide the region where the s3 bucket for the website will be created

